<h1 class="my-3 text-center">Bootstrap Grid</h1>
<h2 class="my-3 text-center">Example griglia con colonne divise equamente</h2>
<hr class="my-2">
<div class="container p-3">
    <div class="row p-2">
        <div class="col">Prima colonna della riga uno</div>
        <div class="col">Seconda colonna della riga uno</div>
    </div>
    <div class="row p-5 text-center">
        <div class="col-sm">Prima colonna della riga due</div>
        <div class="col-sm">Seconda colonna della riga due</div>
        <div class="col-sm">terza colonna della riga due</div>
    </div>
</div>
<hr class="my-2">


<h2 class="my-3 text-center">Example griglia con colonne definite nelle 12 posizioni per riga</h2>
<hr class="my-2">
<div class="container-lg p-4">
    <div class="row py-2">
        <div class="col-md-8">Main Content</div>
        <div class="col-md-4">Sidebar right</div>
    </div>
    <div class="row py-2 px-5 text-center">
        <div class="col-md-4">Sidebar left Row2</div>
        <div class="col-md-8">Main Content Row2</div>
    </div>
</div>
<hr class="my-4">


<h2 class="my-2  text-center"> Example 1 riga con 12 colonne</h2>
<hr class="my-1">
<div class="container my-1">
  <div class="row">
    <div class="col-xxl-1 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">12 col su xxl, 6 col su xl, 4 col su lg, 3 col su md, 2 col su sm, 1 col su xs</div>
    <div class="col-xxl-1 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">12 col su xxl, 6 col su xl, 4 col su lg, 3 col su md, 2 col su sm, 1 col su xs</div>
    <div class="col-xxl-1 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">12 col su xxl, 6 col su xl, 4 col su lg, 3 col su md, 2 col su sm, 1 col su xs</div>
    <div class="col-xxl-1 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">12 col su xxl, 6 col su xl, 4 col su lg, 3 col su md, 2 col su sm, 1 col su xs</div>
    <div class="col-xxl-1 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">12 col su xxl, 6 col su xl, 4 col su lg, 3 col su md, 2 col su sm, 1 col su xs</div>
    <div class="col-xxl-1 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">12 col su xxl, 6 col su xl, 4 col su lg, 3 col su md, 2 col su sm, 1 col su xs</div>
    <div class="col-xxl-1 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">12 col su xxl, 6 col su xl, 4 col su lg, 3 col su md, 2 col su sm, 1 col su xs</div>
    <div class="col-xxl-1 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">12 col su xxl, 6 col su xl, 4 col su lg, 3 col su md, 2 col su sm, 1 col su xs</div>
    <div class="col-xxl-1 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">12 col su xxl, 6 col su xl, 4 col su lg, 3 col su md, 2 col su sm, 1 col su xs</div>
    <div class="col-xxl-1 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">12 col su xxl, 6 col su xl, 4 col su lg, 3 col su md, 2 col su sm, 1 col su xs</div>
    <div class="col-xxl-1 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">12 col su xxl, 6 col su xl, 4 col su lg, 3 col su md, 2 col su sm, 1 col su xs</div>
    <div class="col-xxl-1 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">12 col su xxl, 6 col su xl, 4 col su lg, 3 col su md, 2 col su sm, 1 col su xs</div>
  </div>
</div>
<hr class="my-1">


<h2 class="my-2  text-center"> Example 1 riga con 6 colonne</h2>
<hr class="my-1">
<div class="container my-1">
  <div class="row">
    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-xs-12">6 col su xxl e xl, 3 col su lg e md, 2 col su sm, 1 col su xs</div>
    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-xs-12">6 col su xxl e xl, 3 col su lg e md, 2 col su sm, 1 col su xs</div>
    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-xs-12">6 col su xxl e xl, 3 col su lg e md, 2 col su sm, 1 col su xs</div>
    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-xs-12">6 col su xxl e xl, 3 col su lg e md, 2 col su sm, 1 col su xs</div>
    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-xs-12">6 col su xxl e xl, 3 col su lg e md, 2 col su sm, 1 col su xs</div>
    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-xs-12">6 col su xxl e xl, 3 col su lg e md, 2 col su sm, 1 col su xs</div>
  </div>
</div>
<hr class="my-1">


<h2 class="my-2  text-center"> Example 1 riga con 4 colonne</h2>
<hr class="my-1">
<div class="container my-1">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">4 col su xxl xl e lg, 2 col su md e sm, 1 col su xs</div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">4 col su xxl xl e lg, 2 col su md e sm, 1 col su xs</div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">4 col su xxl xl e lg, 2 col su md e sm, 1 col su xs</div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">4 col su xxl xl e lg, 2 col su md e sm, 1 col su xs</div>
  </div>
</div>
<hr class="my-1">


<h2 class="my-5  text-center"> Example Variazioni creative </h2>
<hr class="my-1">
<div class="container py-2 my-5">
  <div class="row">
    <div class="col-xxl-1 col-xl-4 col-lg-5 col-md-2 col-sm-4 col-xs-12">Variazioni creative di colonne a scopo didattico</div>
    <div class="col-xxl-2 col-xl-8 col-lg-5 col-md-8 col-sm-8 col-xs-12">Variazioni creative di colonne a scopo didattico</div>
    <div class="col-xxl-1 col-xl-2 col-lg-2 col-md-2 col-sm-8 col-xs-12">Variazioni creative di colonne a scopo didattico</div>
    <div class="col-xxl-2 col-xl-6 col-lg-3 col-md-6 col-sm-4 col-xs-12">Variazioni creative di colonne a scopo didattico</div>
    <div class="col-xxl-1 col-xl-4 col-lg-3 col-md-6 col-sm-4 col-xs-12">Variazioni creative di colonne a scopo didattico</div>
    <div class="col-xxl-2 col-xl-6 col-lg-3 col-md-4 col-sm-8 col-xs-12">Variazioni creative di colonne a scopo didattico</div>
    <div class="col-xxl-1 col-xl-1 col-lg-3 col-md-4 col-sm-8 col-xs-12">Variazioni creative di colonne a scopo didattico</div>
    <div class="col-xxl-2 col-xl-5 col-lg-12 col-md-4 col-sm-4 col-xs-12">Variazioni creative di colonne a scopo didattico</div>
  </div>
</div>
<hr class="my-1">


<h2 class="mt-5 text-center">Example Blog con sidebar che sparisce a sm</h2>
<hr class="my-1">
<div class="container">
  <div class="row">
    <div class="col-md-8 text-center">
      <div class="row">
        <div class="col-md-12"><span>header</span></div>
      </div>
      <div class="row">
        <div class="col-md-6">article <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem accusantium sapiente maiores corrupti impedit, praesentium eaque ex sint numquam sequi.</p></div>
        <div class="col-md-6">article <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt architecto laborum excepturi debitis ipsam quis animi quo beatae hic itaque.</p></div>
      </div>
      <div class="row">
        <div class="col-md-6">article <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem accusantium sapiente maiores corrupti impedit, praesentium eaque ex sint numquam sequi.</p></div>
        <div class="col-md-6">article <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt architecto laborum excepturi debitis ipsam quis animi quo beatae hic itaque.</p></div>
      </div>
      <div class="row">
        <div class="col-md-12"><span>footer</span></div>
      </div>
    </div>
    <div class="col-md-4 d-sm-none d-md-block">sidebar</div>
  </div>
</div>
<hr class="my-1">
