<h1>Stimulus examples</h1>

<div data-controller="hello"></div><!-- This call the stimulus controller: .../app/javascript/controllers/hello_controller.js -->

<div data-controller="goodbye"></div><!-- This call the stimulus controller: .../app/javascript/controllers/goodbye_controller.js -->
