<div id="<%= dom_id eg_user %>">
  <p>
    <strong>Name:</strong>
    <%= eg_user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= eg_user.email %>
  </p>

  <p>
    <strong>Encrypted password:</strong>
    <%= eg_user.encrypted_password %>
  </p>

</div>
